<h1>Registro</h1>

<form action="/registro" method="POST">

    <div class="form-row">
        <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre">
        </div>
    </div>

</form>